= simple_form_for @list do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :category, as: :radio_buttons, collection: @categories

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
