= simple_form_for @list do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :category, as: :radio_buttons
    - if action_name == 'edit'
      = f.input :closed, as: :radio_buttons 

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
