<%= simple_form_for @list do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <%= f.input :title %>
    <%= f.select(:category, List::CATEGORY.map { |cat| [cat.to_s.titleize, cat] }) %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
