%li.media
  .media-left
    - if list.albums.present?
      = image_tag list.albums.first.artwork, class: 'media-object', size: '50', alt: list.title
    - else
      = image_tag list.user.gravatar_url, class: 'media-object', size: '50', alt: list.title
  .media-body
    %h4.media-heading
      = link_to list.title, list
    .text-muted
      = "by #{list.user.username}"
