- title @list.title

.col-md-10.col-md-offset-1
  %h2.text-center.list-title
    = @list.title
    %span.text-muted= "by #{@list.user.username}"
    - if policy(@list).update?
      = link_to edit_list_path @list do
        %span.glyphicon.glyphicon-pencil
      = link_to @list, method: :delete, data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove

.col-md-12
  = render partial: 'ranked_album', locals: { list: @list }, collection: @list.ranked_albums
