- title @list.title

.col-md-12
  %h2
    = @list.title
    = link_to edit_list_path @list do
      %span.glyphicon.glyphicon-pencil
    = link_to @list, method: :delete, data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-remove

.col-md-3
  .well
    %p
      %strong Category:
      = @list.category
    %p
      %strong Author:
      = link_to @list.user.email, user_path(@list.user)

.col-md-9
  = render partial: 'shared/card', locals: { list: @list }, collection: @list.ranked_albums
