- content_for :title do
  = "Top Albums of " + params[:year]

.col-lg-offset-2.col-md-offset-2
  %ul{ class: ["nav", "nav-pills"] }
    - (Time.now.year - 10).upto(Time.now.year) do |year|
      - if year.to_s == params[:year]
        %li.active= link_to "#{year}", controller: "top", year: year
      - else
        %li= link_to "#{year}", controller: "top", year: year
%br

= render partial: "shared/review_card", collection: @top_albums
