%td= image_tag user.gravatar_url, alt: user.username, size: '33', class: 'img-responsive center-block'
%td= link_to user.username, user
%td= user.email
%td= user.created_at.strftime('%d %b %Y %H:%M')
%td= user.sign_in_count
%td
  = form_for(user) do |f|
    = f.select(:role, User.role.values.map { |role| [role.to_s.titleize, role] })
    = f.submit 'Change Role', class: 'btn btn-xs btn-default'
%td= link_to('Delete user', user_path(user), data: { confirm: 'Are you sure?' },
  method: :delete, class: 'btn btn-xs btn-danger') unless user == current_user
