- title 'User details'
.col-md-offset-2.col-md-8
  .panel.panel-primary
    .panel-heading
      User
    .panel-body
      %p
        = image_tag @user.gravatar_url, alt: @user.username, class: 'img-thumbnail img-responsive'
      %p
        %strong Username:
        = @user.username if @user.username
      %p
        %strong Email:
        = @user.email if @user.email
      %p
        %strong Registration date:
        = @user.created_at.strftime('%d %b %Y %H:%M') if @user.created_at
      %p
        %strong Sign in count:
        = @user.sign_in_count if @user.sign_in_count
      %p
        %strong Role:
        = @user.role if @user.role
