.well.well-sm
  .row.card{ "data-album-id" => card.id }
    .col-lg-4
      = image_tag(card["artwork"], class: ["artwork", "img-thumbnail", "img-responsive"])
    .col-lg-4
      %h2= link_to card["title"], album_path(card)
      %h3= link_to card["artist"], albums_path(artist: card["artist"])
      %h4= link_to card["year"], albums_path(year: card["year"])
      %h4= link_to card["label"], albums_path(label: card["label"])
      %h5= card["date"].strftime('%d %b %Y')
      %h5= link_to "Read review at Pitchfork", card["source"]
    .col-lg-4
      - if card["bnm"]
        .score.bnm= card["rating"]
      - else
        - if card["reissue"]
          .score.reissue= card["rating"]
        - else
          .score= card["rating"]
