- cache card do
  .well.well-sm.card{ 'data-album-id' => card.id }
    .row
      .col-lg-4
        = link_to album_path(card) do
          = image_tag card.artwork, alt: card.title, class: %w(artwork img-thumbnail img-responsive)
      .col-lg-5
        %h3= link_to card.title, album_path(card)
        %h4= raw card.artist.map { |artist| link_to artist, albums_path(artist: artist) }.join(' / ')
        %h5= link_to card.year, albums_path(year: card.year)
        %h5= card.genre.join(' • ')
        %h5= raw card.label.map { |label| link_to label, albums_path(label: label) }.join(' / ')
        %h6= card.date.strftime('%d %b %Y')
        %h6= link_to 'Read review at Pitchfork', card.source
        - if defined? list
          - if policy(list).update?
            = form_tag move_album_list_path(list, card), method: :patch do
              = hidden_field_tag :direction, :up
              = submit_tag 'Up'
            = form_tag move_album_list_path(list, card), method: :patch do
              = hidden_field_tag :direction, :down
              = submit_tag 'Down'
            = link_to 'Delete', delete_album_list_path(list, card), method: :delete, data: { confirm: 'Are you sure?' }
      .col-lg-3
        - if defined? list
          .rating= card_counter + 1
        - else
          - if card.bnm
            .rating.bnm= card.rating
          - elsif card.reissue
            .rating.reissue= card.rating
          - else
            .rating= card.rating
