.well.well-sm
  .row
    .col-lg-3.col-md-4.col-sm-6.col-xs-12
      = image_tag(i.artwork, class: ["artwork", "img-thumbnail", "img-responsive", "center-block"])
    .col-lg-6.col-md-4.col-sm-6.col-xs-12
      %h4= i.title
      %h4= i.artist
      %h5.small= i.year
      %h5.small= i.label
      %h6.small= i.date
      .hidden-lg.hidden-md.hidden-sm
        - if i.bnm
          .btn.btn-lg.btn-danger= i.score
        - else
          - if i.bnr
            .btn.btn-lg.btn-success= i.score
          - else
            .btn.btn-lg.btn-primary= i.score
    .col-lg-3.col-md-4.col-sm-6.hidden-xs
      - if i.bnm
        .score.bnm= i.score
      - else
        - if i.bnr
          .score.bnr= i.score
        - else
          .score= i.score
