!!! 5

%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }

    %title= 'AlbumKey'

    = stylesheet_link_tag 'application'
    = csrf_meta_tag

  %body
    .landing-container
      .images
      .gradient
      .landing-text
        .landing-heading
          %h1
            Discover the best music
          %h2
            No paywalls, no ads, just albums you'll love
        .landing-buttons
          - if user_signed_in?
            = link_to 'Albums', albums_path, class: 'btn btn-lg btn-success'
          - else
            = link_to 'Log In', new_user_session_path, class: 'btn btn-lg btn-primary'
            = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary'
