= form_tag albums_path, method: :get, id: 'filter' do
  = label_tag :album
  .form-group
    = text_field_tag :artist, params[:artist], class: 'form-control', id: 'artists-typeahead', placeholder: 'Artist', autocomplete: 'off'
  .form-group
    = text_field_tag :year, params[:year], class: 'form-control', placeholder: 'Year', autocomplete: 'off'
  .form-group
    = select_tag 'genre', options_for_select(%w(Rock Electronic Rap Pop/R&B Experimental Jazz Global Metal Folk/Country), params[:genre]), class: 'form-control', prompt: 'Genre'
  .form-group
    = text_field_tag :label, params[:label], class: 'form-control', id: 'labels-typeahead', placeholder: 'Label', autocomplete: 'off'
  .form-group
    = label_tag :rating
    = text_field_tag :rating, nil, hidden: true
  .form-group
    = label_tag :order
    .input-group
      = select_tag 'order', options_for_select([['Review Date', :date],
                                                ['Rating', :rating],
                                                ['Year of Release', :year],
                                                ['Artist', :artist],
                                                ['Label', :label]],
                                                params[:order]),
                                                class: 'form-control'
      .input-group-btn
        .toggler{ data: { toggle: 'buttons' } }
          = toggle_button(:dir, 'desc')
          = toggle_button(:dir, 'asc')
  .form-group
    %label.btn.btn-danger#bnm-btn
      - if params[:bnm].present?
        - if params[:bnm] == '0'
          = hidden_field_tag :bnm, 0
          %span<
            No Best New Music
        - else
          = hidden_field_tag :bnm, 1
          %span<
            Only Best New Music
      - else
        = hidden_field_tag :bnm, nil
        %span<
          Include Best New Music
  .form-group
    %label.btn.btn-success#reissue-btn
      - if params[:reissue].present?
        - if params[:reissue] == '0'
          = hidden_field_tag :reissue, 0
          %span<
            No Reissues
        - else
          = hidden_field_tag :reissue, 1
          %span<
            Only Reissues
      - else
        = hidden_field_tag :reissue, nil
        %span<
          Include Reissues
  %button.btn.btn-default.btn-block= 'Search'
