= simple_form_for @album do |f|
  = f.error_notification

  = f.input :title
  = f.input :artist, input_html: { multiple: true }
  = f.input :label, input_html: { multiple: true }
  = f.input :year
  = f.input :genre, input_html: { multiple: true }
  = f.input :date
  = f.input :artwork
  = f.input :reviewer
  = f.input :source
  = f.input :rating
  = f.input :reissue, as: :boolean
  = f.input :bnm, as: :boolean
  = f.button :submit, class: 'btn-primary'
