%h1= "Listing Albums"

= form_tag articles_path, method: 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag 'Search', name: nil

%table
  %thead
    %tr
      %th= "Title"
      %th= "Artist"
      %th= "Label"
      %th= "Year"
      %th= "Date"
      %th= "Artwork"
      %th= "Url"
      %th= "Score"
      %th= "Bnm"
      %th= "Bnr"
      %th{ colspan: "3" }

  %tbody
    - @albums.each do |album|
      %tr
        %td= link_to album.title, album_path(album)
        %td= album.artist
        %td= album.label
        %td= album.year
        %td= album.date
        %td= image_tag album.artwork, size: "100"
        %td= album.url
        %td= album.score
        %td= album.bnm
        %td= album.bnr
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br

= paginate @albums

%br

= link_to 'New Album', new_album_path
