- title 'Search Albums'

%h3= 'Search Albums'

.row
  .col-lg-offset-2.col-lg-8
    = form_tag search_path, method: 'get', class: 'input-group' do
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search'
      %span.input-group-btn= submit_tag 'Search', name: nil, class: 'btn btn-primary'

%br

%table.table.table-bordered.table-hover
  %thead
    %tr
      %th= 'Artwork'
      %th= 'Title'
      %th= 'Artist'
      %th= 'Label'
      %th= 'Year'
      %th= 'Date'
      %th= 'Source'
      %th= 'Rating'
      %th= 'Reissue'
      %th= 'Bnm'
      %th{ colspan: '3' }= 'Actions'

  %tbody.text-center
    - @albums.each do |album|
      %tr
        %td= image_tag album.artwork, size: '100'
        %td= link_to album.title, album_path(album)
        %td= album.artist
        %td= album.label
        %td= album.year
        %td= album.date
        %td= link_to 'Pitchfork Link', album.source
        %td= album.rating
        %td= album.reissue
        %td= album.bnm
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

= paginate @albums

%br

= link_to 'New Album', new_album_path
