- title "#{@album.artist} - #{@album.title}"
.col-xs-12
  .well.well-sm
    .row.card{ 'data-album-id' => @album.id }
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        = image_tag @album.artwork, alt: @album.title, class: %w(artwork img-thumbnail img-responsive)
      .col-lg-5.col-md-4.col-sm-6.col-xs-12
        %h3= link_to @album.title, album_path(@album)
        %h4= raw @album.artist.map { |artist| link_to artist, albums_path(artist: artist) }.join(' / ')
        %h5= link_to @album.year, albums_path(year: @album.year)
        %h5= @album.genre.join(' • ')
        %h5= raw @album.label.map { |label| link_to label, albums_path(label: label) }.join(' / ')
        %h6= @album.date.strftime('%d %b %Y')
        %h6= link_to 'Read review at Pitchfork', @album.source
      .col-lg-2.col-md-4.col-sm-6.hidden-xs
        - if user_signed_in?
          - if @rate
            .rating.user= @rate.rate
          - else
            .rating.user.dim= 0.0
      .col-lg-2.col-md-4.col-sm-6.col-xs-12
        - if @album.bnm
          .rating.bnm= @album.rating
        - elsif @album.reissue
          .rating.reissue= @album.rating
        - else
          .rating= @album.rating

  - if user_signed_in?
    - if current_user.try(:admin?)
      = link_to 'Edit', edit_album_path(@album)
      = link_to 'Destroy', @album, method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'Back', :back

  %h3 Comments
  - if @comments.empty?
    %h5.text-muted The comments section is empty
  - else
    - @comments.each do |comment|
      .well.well-sm
        = image_tag comment.user_avatar, size: '33'
        %strong= comment.user_email
        = comment.body

  - if user_signed_in?
    = render 'comments/form'
