<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Label:</strong>
  <%= @album.label %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Date:</strong>
  <%= @album.date %>
</p>

<p>
  <strong>Artwork:</strong>
  <%= @album.artwork %>
</p>

<p>
  <strong>Url:</strong>
  <%= @album.url %>
</p>

<p>
  <strong>Score:</strong>
  <%= @album.score %>
</p>

<p>
  <strong>Bnm:</strong>
  <%= @album.bnm %>
</p>

<p>
  <strong>Bnr:</strong>
  <%= @album.bnr %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
