- title 'Stats'

.col-xs-12
  .row
    .col-xs-12
      %h2
        %p.pull-left
          != 'Stats&nbsp;'
        .dropdown
          = button_tag class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
            = params[:year] ||= 'overall'
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'overall', stats_path
            - Time.now.year.downto 1999 do |year|
              %li= link_to year, stats_path(year)

      #chartid{ style: 'width: 100%; height: 400px; background-color: #282828;' }

  %br

  .row
    .col-lg-4
      .panel.panel-default
        .panel-body
          .text-center
            %strong
              Total albums:
            = @total[:album]
    .col-lg-4
      .panel.panel-default
        .panel-body
          .text-center
            %strong
              Total BNMs:
            = @total[:bnm]
    .col-lg-4
      .panel.panel-default
        .panel-body
          .text-center
            %strong
              Total reissues:
            = @total[:reissue]
