<div class='col-lg-offset-4 col-lg-4'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h1 class='panel-title'>Log In</h1>
    </div>

    <div class='panel-body'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class='checkbox'>
            <label>
              <%= f.check_box :remember_me %>
              <b>Remember me</b>
            </label>
          </div>
        <% end -%>

        <%= f.submit 'Log In', class: 'btn btn-default' %>
      <% end %>

      <br>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
