!!! 5

%html
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Richfork"

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crete+Round"
    = csrf_meta_tag
    = javascript_include_tag "application", defer: true

    = render "shared/navbar"

  %body
    .container
      .row
        .col-lg-12.col-md-12
          - unless notice.blank?
            .alert.alert-info{role: "alert"}= notice
          - unless alert.blank?
            .alert.alert-danger{role: "alert"}= alert
      .row.content
        .col-lg-12.col-md-12
          = yield
