!!! 5

%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'google-site-verification', content: yield_meta_tag(:gwt, ENV['GWT_TAG']) }

    %title= content_for?(:title) ? yield(:title) : 'Richfork'

    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_include_tag 'application', defer: true

  %body
    = render 'shared/navbar'

    .container
      .row
        .col-md-12
          - unless notice.blank?
            .alert.alert-info{ role: 'alert' }= notice
          - unless alert.blank?
            .alert.alert-danger{ role: 'alert' }= alert
      .row
        = yield

    %footer.footer
      .kappa.text-muted.text-center
        Richfork © 2015-2016
