!!! 5

%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'google-site-verification', content: ENV['GWT_TAG'] }

    %title= content_for?(:title) ? yield(:title) : 'AlbumKey'

    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = csp_meta_tag
    = javascript_include_tag 'application', defer: true

  %body
    .content
      = render 'shared/navbar'

      .container
        .row
          .col-xs-12
            - unless notice.blank?
              .alert.alert-info.alert-dismissible{ role: 'alert' }<
                %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
                  %span{ aria: { hidden: 'true' } }= '×'
                = notice
            - unless alert.blank?
              .alert.alert-danger.alert-dismissible{ role: 'alert' }<
                %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
                  %span{ aria: { hidden: 'true' } }= '×'
                = alert
        .row
          = yield

    %footer
      .footer-text.text-muted.text-center<
        AlbumKey ©
        = "2015 – #{Time.now.year}"
